<tr>
  <td><%= badge.title %> </td>
  <td><%= badge.rule %></td>
  <td><%= image_tag badge.url, size: "80", alt: "badge" %></td>
  <td class="d-flex gap-2">
    <%= button_to t('edit'), edit_admin_badge_path(badge),
                            class: 'btn btn-warning',
                            method: :get %>
    <%= button_to t('delete'), admin_badge_path(badge), class: 'btn btn-danger', method: :delete %>
  </td>
</tr>
