<%= form_with model: [:admin, @badge] do |f| %>
  <%= render 'shared/errors', resource: @badge %>
  <p>
    <%= f.label t('title') %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label t('.rule') %>:
    <%= f.select :rule, rule_list %>
  </p>
  <p>
    <%= f.label 'Level' %>:
    <%= f.select :level, level_list, prompt: true %>
  </p>
  <p>
    <%= f.label 'Категория' %>:
    <%= f.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>
  <p>
    <%= f.label t('.image_url') %><br>
    <%= f.select :url, image_list %>
  </p>
  <p><%= f.submit %> </p>
<% end %>
