<header>
  <%= link_to 'TEST GURU', root_path %>
  <div>
    <div>
      <% if user_signed_in? %>
        <p class="nav user">Welcome, <b><%= current_user.email %></b> Guru</p>
        <%= button_to 'Выход', destroy_user_session_path, method: :delete %>
      <% else %>
        <p class="nav user">Welcome, новый пользoватель</b> Guru</p>
          <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav_link' %>
          <%= link_to 'Войти', new_user_session_path, class: 'nav_link' %>
      <% end %>
    </div>

    <%= render 'shared/flash' %>
  </div>
</header>
