<footer class="text-center">
  <hr>
  <p>
    <%= "#{current_years} #{t('.year')}. " %><%= github_url('e-smirnov735', 'test-guru') %>
    <%= t('.web_description') %>
  </p>
  <%= link_to t('.link_description'),
            "http://thinknetica.com",
            target: "_blank",
            rel: "nofollow noopener" %>
  <br>
  <%= link_to t('.feedback'), new_feedback_path %>
</footer>
