<%= form_with model: [:admin, @question, @answer], local: true do |f| %>
  <%= render 'shared/errors', resource: @answer %>
  <p>
    <%= f.label t('.label') %>
    <%= f.text_area :body, id: :answer_body, rows: 5, cols: 40 %>
  </p>
  <p>
    <%= f.label t('.correct') %>
    <%= f.check_box :correct, id: :answer_correct %>
  </p>
  <p><%= f.submit %>
  <% end %>
