<tr>
  <td><%= test.title %></td>
  <td><%= test.level %> </td>
  <td><%= test.questions.count %></td>
  <td><%= button_to t('.show'), admin_test_path(test), class: 'btn btn-info',  method: :get %></td>
  <td><%= button_to t('.edit'), edit_admin_test_path(test), class: 'btn btn-warning', method: :get %></td>
  <td><%= button_to t('.delete'), admin_test_path(test), class: 'btn btn-danger', method: :delete %> </td>
</tr>
