<h2><%= t('.header') %></h2>
<table>
  <thead>
    <tr>
      <th><%= t('.label') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.count') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
